.cdx-lock {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-size: 14px;
  margin-right: 2px;
  padding: 0 5px;
  /* same color with the inline-code background */
  background: #eff5f9;
  border-radius: 5px;
  filter: blur(1.5px);
}
